@import url(//db.onlinewebfonts.com/c/6f1a075af8afe852f3e3c8a75e49bc31?family=DINNextRoundedLTPro-Bold);

.header{
    margin-top:0px;
    width: 100%;
    height: 94px;
    background-color: white;
    
}

.main_div{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 167px 26px 168px;
    max-width: 1440px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.div_of_logo{
    width: 187px;
    height: 100%;
    box-sizing: border-box;
}
.div_of_buttons{
    width: 431px;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo{
    width: 174px;
    height: 42px;
}
.button{
    border: none;
    color: rgba(76, 72, 89, 1);
    margin-top: 0px;
    padding: 0px;
    font-family: 'DINNextRoundedLTPro-bold';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
    cursor: pointer;
    background: none;
}

.button:focus{
    color: #3A10E5;
}

.button:active{
    transform: translateY(2px);
}

