@import url(//db.onlinewebfonts.com/c/6f1a075af8afe852f3e3c8a75e49bc31?family=DINNextRoundedLTPro-Bold);
body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
