.footer {
   position:absolute;
   bottom:0 ;
   margin-bottom: 0px;
   width: 100%;
   height: 109px;
   background-color: white;
   box-sizing: border-box;
}
.main_div {
   margin-bottom: 0px;
   margin-left: auto;
   margin-right: auto;
   padding: 62px 153px 14.98px 153px;
   max-width: 1440px;
   max-height: 109px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
}

.logo {
   margin: 0;
   width: 125px;
   height: 44px;
}

.div_of_span {
   padding: 4px 0px;
}

.copyright {
   font-family: 'Inter';
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #98a2b3;
}
